.ui.container {
  /* width: 76%; */
  position: unset !important;
}

.thirteen.wide.column{
  width: 9990px !important;
}

.header-nav {
  /* padding-top: 10px; */
  height: 120px;
  background-color: #fff ;
  /* border-bottom-style: solid !important;
  border-bottom-width: 26px !important;
  border-bottom: teal !important;
  border: teal solid; */
  border-width: medium !important;
  border-bottom:orange;
  border-bottom-style: solid;
  
}
.ui.menu .header-nav 
{
  border-left: 10px solid rgba(38, 35, 34, 0.1);
}


.ui.secondary.menu .active.item {
background-color: #515164;
color: #fff
}
 

.nav-logo{
  /* margin-top: 0em; */
  margin-bottom: 2.5em;
  width: 100%;
  /* color: rgb(205, 201, 98); */
  font-weight: bolder;
  height: 44px;
  padding: 10px;
  background-color: #c3cecf;
}

.main-content-container {
margin-top: 3em;
height:max-content;
width:90%;
}


.main-menu-sidebar{
  background-color: #F4F4F5;
  height: 1000px;
  width: fixed !important
}

.dashboard-status{
  display: flex;
align-items: stretch;
  /* align-items: center; */
  /* flex-direction: row; */
}

.dashboard-status .segment{
  height: 190px;
  width: 150px;
  margin: 20px;
  padding: 5px;
}

/* 
.stacked.icons{
  position: relative;
  display: table-cell;
    opacity: 1;
    font-size: 1.5em;
    padding-top: 0;
    vertical-align: middle;
} */



/* .stacked.icons > .plus.icon{
  position: absolute;
  left: 0.8em;
  top: -0.2em;
} */

.stacked.icons > .bottom.left.attached.icon{
  position: absolute;
  left: 2.3em;
  top: 0.4em;
}

/* .ui.segment:first-child {
  margin-top: 20px !important	;
} */

/* 

 .ui.container {
  position: unset !important;
  max-width: 1770px;
  width: 79%;
}

.header-nav {
  padding-top: 77px;
  height: 128px;
  background-color: #fff !important;
}

.main-content-container {
  padding-top: 1.7em;
  max-width: 1280px;
  margin: 16px auto;
  
  background-color: #fff;
}

.ui.button {
  background-color: #fff;
  border: none;
}

.ui.menu .item {
  position: unset !important;
} */
