body {
  background-color: #F4F4F5 !important;
  font-family: "Inter";
}



 
.right-column{
  width: 990px !important;
background-color: rgb(49, 163, 39);
}
.left-column{
  width: 220px !important;
 
}
.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

.react-datepicker-wrapper {
  width: 100%;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(135deg,
      rgb(139, 88, 23) 0%,
      rgb(192, 118, 39) 69%,
      rgb(224, 145, 80) 89%) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.about-you-header-h1 {
  padding-top: 40px;
  padding-left: 20px;
}

.about-you-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 13px;

}

.about-you-header p {
  font-size: large;
  font-weight: bold;

}

.about-you-header-button-email {
  display: flex;
  margin-left: 25px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: flex-start;


}

/*end home page styles*/